<a href="https://colab.research.google.com/github/rmahesh6386/DataScience_Python/blob/main/Assignment_11_Random__Forest_Fraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [130]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [131]:
fraud = pd.read_csv("Fraud_check.csv")
fraud.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [132]:
#Complete fraudfraudset
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
fraud['Undergrad'] = label_encoder.fit_transform(fraud['Undergrad'])
fraud['Urban'] = label_encoder.fit_transform(fraud['Urban'])

In [133]:
fraud.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,0,Single,68833,50047,10,1
1,1,Divorced,33700,134075,18,1
2,0,Married,36925,160205,30,1
3,1,Single,50190,193264,15,1
4,0,Married,81002,27533,28,0

In [134]:
fraud=fraud.rename(columns={'Marital.Status': 'Marital_Status', 'Taxable.Income':'Taxable_Income', 
                          'City.Population':'City_Population', 'Work.Experience':'Work_Experience'})
fraud.head()

,Undergrad,Marital_Status,Taxable_Income,City_Population,Work_Experience,Urban
0,0,Single,68833,50047,10,1
1,1,Divorced,33700,134075,18,1
2,0,Married,36925,160205,30,1
3,1,Single,50190,193264,15,1
4,0,Married,81002,27533,28,0

In [135]:
fraud.loc[fraud["Taxable_Income"]>=30000,"income"]="Good"
fraud.loc[fraud["Taxable_Income"]<=30000,"income"]="Risky"
fraud.head()

,Undergrad,Marital_Status,Taxable_Income,City_Population,Work_Experience,Urban,income
0,0,Single,68833,50047,10,1,Good
1,1,Divorced,33700,134075,18,1,Good
2,0,Married,36925,160205,30,1,Good
3,1,Single,50190,193264,15,1,Good
4,0,Married,81002,27533,28,0,Good

In [136]:
fraud = pd.get_dummies(fraud, columns=['Marital_Status'])
fraud.head()

,Undergrad,Taxable_Income,City_Population,Work_Experience,Urban,income,Marital_Status_Divorced,Marital_Status_Married,Marital_Status_Single
0,0,68833,50047,10,1,Good,0,0,1
1,1,33700,134075,18,1,Good,1,0,0
2,0,36925,160205,30,1,Good,0,1,0
3,1,50190,193264,15,1,Good,0,0,1
4,0,81002,27533,28,0,Good,0,1,0

In [137]:
fraud = fraud[['Taxable_Income','City_Population','Work_Experience','Undergrad',
                           'Urban','Marital_Status_Divorced','Marital_Status_Married',
                           'Marital_Status_Single','income']]
fraud.head()

,Taxable_Income,City_Population,Work_Experience,Undergrad,Urban,Marital_Status_Divorced,Marital_Status_Married,Marital_Status_Single,income
0,68833,50047,10,0,1,0,0,1,Good
1,33700,134075,18,1,1,1,0,0,Good
2,36925,160205,30,0,1,0,1,0,Good
3,50190,193264,15,1,1,0,0,1,Good
4,81002,27533,28,0,0,0,1,0,Good

In [138]:
x=fraud.iloc[:,0:8]
y=fraud['income']

In [139]:
x.head()

,Taxable_Income,City_Population,Work_Experience,Undergrad,Urban,Marital_Status_Divorced,Marital_Status_Married,Marital_Status_Single
0,68833,50047,10,0,1,0,0,1
1,33700,134075,18,1,1,1,0,0
2,36925,160205,30,0,1,0,1,0
3,50190,193264,15,1,1,0,0,1
4,81002,27533,28,0,0,0,1,0

In [140]:
y.head()

0    Good
1    Good
2    Good
3    Good
4    Good
Name: income, dtype: object

In [141]:
fraud.income.value_counts()

Good     476
Risky    124
Name: income, dtype: int64

In [142]:
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

kfold = KFold(n_splits=10)
model = RandomForestClassifier(n_estimators=20, max_features=3)
results = cross_val_score(model, x, y, cv=kfold)
print(results.mean())

0.9983333333333334

In [143]:
model.fit(x,y)
fraud['pred'] = model.predict(x)
cols = ['pred','income']
fraud[cols].head()

   pred income
0  Good   Good
1  Good   Good
2  Good   Good
3  Good   Good
4  Good   Good

In [144]:
from sklearn.metrics import confusion_matrix
confusion_matrix(fraud["income"],model.predict(x)) # Confusion matrix

pd.crosstab(fraud["income"],fraud["pred"])

pred    Good  Risky
income
Good     476      0
Risky      0    124

In [145]:
print("Accuracy = ",(476+124)/(476+124)*100)

Accuracy =  100.0