<a href="https://colab.research.google.com/github/rmahesh6386/DataScience_Python/blob/main/Assignment_03_Q4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment_03_Q4

Assumptions: since we compare 4 proportions from 4 centres and we need to check that their defective % varies so we do the Chi-Square contingency test.

Assume Ho: customer order forms defective % does not varies by centre and Ha: customer order forms defective % varies by centre

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import chi2_contingency

In [ ]:
df=pd.read_csv('Costomer+OrderForm.csv')
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [ ]:
PH_count=df.Phillippines.value_counts()
PH_count

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [ ]:
IDN_count=df.Indonesia.value_counts()
IDN_count

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [ ]:
MA_count=df.Malta.value_counts()
MA_count

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [ ]:
IND_count=df.India.value_counts()
IND_count

Error Free    280
Defective      20
Name: India, dtype: int64

In [22]:
def Extract(list):
     return [item[i] for item in list]

In [20]:
list = [PH_count, IDN_count, MA_count, IND_count]

In [23]:
i=0

In [24]:
a=Extract(list)
a

[271, 267, 269, 280]

In [25]:
i=1

In [26]:
b=Extract(list)
b

[29, 33, 31, 20]

In [33]:
arr=np.array([[a],[b]])
arr

array([[[271, 267, 269, 280]],

       [[ 29,  33,  31,  20]]])

In [35]:
p=chi2_contingency(arr)
p

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[[271.75, 271.75, 271.75, 271.75]],

        [[ 28.25,  28.25,  28.25,  28.25]]]))

In [36]:
p[1] # probability

0.2771020991233135

Inference: As p_value > (α = 0.05); Accept Null Hypthesis Ho: customer order forms defective % does not varies by centre