<a href="https://colab.research.google.com/github/rmahesh6386/DataScience_Python/blob/main/Assignment-03-Q1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment-03-Q1-Hypothesis-Testing

Assumptions: since we compare two samples from dfferent units which are independent its a 2 sample test
and since we are just checking that the 2 samples average are are eual or not so its a 2 tail test  

Assume Null hyposthesis as Ho: μ1 = μ2, 
       Alternate hypothesis as Ha: μ1 != μ2

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [ ]:
# Load the dataset
df=pd.read_csv('Cutlets.csv')
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [ ]:
# 2-sample 2-tail ttest:
p=stats.ttest_ind(df["Unit A"], df["Unit B"])
p

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

In [ ]:
# Probability
p[1]

0.4722394724599501

Inference: here the p > 0.05 (alpha = 0.05, 5% significance level) 
           So we accept Ho: μ1 = μ2 and reject Alternate hypothesis as Ha: μ1 != μ2
           
So The diameters of cutlets of two units are equal.